/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property *//* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.top-form{
	-fx-background-color: #fff;
	-fx-border-color: #000;
	-fx-border-width: 0.4px 0.4px 0.2px 0.4px;
}
.semi-top-form{
	-fx-background-color: #efefef;
	-fx-border-color: #000;
-fx-border-width: 0.2px 0.4px 0.8px 0.4px;
}
.close {
	-fx-background-color: transparent;
	-fx-cursor: hand;
}
.close:hover{
	-fx-background-color: #e03d3d;
}
.minimize{
	 -fx-background-color: transparent;
	 -fx-cursor: hand;
}
.minimize:hover{
	-fx-background-color: #ddd;
}
.nav-form{
	-fx-background-color: #3584de;
	-fx-border-color: #000;
	-fx-border-width:0.4px 0.0px 0.4px 0.4px;
}
.nav-btn{
	-fx-background-color:transparent;
	-fx-cursor:hand;
	-fx-font-size:14.0px;
	-fx-font-family:"Arial";
	-fx-text-fill:#fff;
	-fx-alignment:center-left ;
}
.logout-btn{
	-fx-cursor: hand;
	-fx-background-color: white;
	-fx-background-radius:20.0px;
}
.logout-btn:hover{
-fx-background-color: GREY;
}

.shadow{
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.5),6.0,0.0,0.0,0.0);
}

.white-bg{
	 -fx-background-color: #fff;
	  -fx-background-radius: 8.0px;
}

.card{
	-fx-background-color: #3584de;
	-fx-background-radius: 5.0px;
}
.textfield{
	-fx-background-color: #efefef;
	-fx-background-radius: 4.0px;
	-fx-border-color: #3584de;
	-fx-border-radius: 4.0px;
	-fx-border-width: 1.0px;
}
.textfield:focused{
	-fx-border-width: 1.8px;
	-fx-background-color: #fff;
}
.search{
	-fx-background-color: transparent;
	-fx-border-color: #3584de;
	-fx-border-radius: 4.0px;
	-fx-border-width: 1.0px;
	-fx-padding: 0.0px 0.0px 0.0px 28.0px;
	-fx-font-family: "Tahoma";	 
}
.search:focused{
	-fx-border-width:2.0px;
}
.table-view{
-fx-background-color: transparent;
-fx-padding: 0.0px;
-fx-border-color:#3584de;
-fx-border-width: 2.0px;
-fx-border-radius: 8.0px;
}

.table-view .table-column {
-fx-alignment: CENTER;
}

.table-view .column-header-background {
-fx-background-color:#3584de;
-fx-background-radius: 8.0px 8.0px 0.0px 0.0px;
-fx-background-insets: 0.0 0.0 0.0 0.0;
}
.table-view .column-header, .filter{
-fx-background-color: transparent;
-fx-size: 40.0px;
}

.table-view .column-header .label{
	-fx-text-fill: #fff;
	-fx-font-family: "Arial";
}
 
.add-btn{
-fx-background-color: #465372;
-fx-background-radius: 8.0px;
-fx-cursor:hand;
-fx-text-fill:#fff;
-fx-font-family: "Arial";
-fx-font-size: 14.0px;
}
.add-btn:hover{
-fx-background-color: #475d90;
}

.update-btn{
-fx-background-color: #375d4f;
-fx-background-radius: 8.0px;
-fx-cursor:hand;
-fx-text-fill:#fff;
-fx-font-family: "Arial";
-fx-font-size: 14.0px;
}
.update-btn:hover{
-fx-background-color: #499377;
}

.clear-btn{
-fx-background-color: #7a447a;
-fx-background-radius: 8.0px;
-fx-cursor:hand;
-fx-text-fill:#fff;
-fx-font-family: "Arial";
-fx-font-size:14.0px;
}
.clear-btn:hover{
-fx-background-color:#9a4b9a;
}

.delete-btn{
-fx-background-color: #862f32;
-fx-background-radius: 8.0px;
-fx-cursor:hand;
-fx-text-fill:#fff;
-fx-font-family: "Arial";
-fx-font-size:14.0px;
}
.delete-btn:hover{
-fx-background-color: #994043;
}